@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

:root {
  --bg-color: rgb(90, 100, 200);
  --container-color: rgb(250, 250, 240);
  --title-color: rgb(50, 50, 50);
  --btn-color: rgb(120, 70, 230);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg-color);
}

.main-container {
  height: 40vh;
  width: 75vw;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--container-color);
  padding: 0 20px;
}

.main-container h3 {
  color: var(--title-color);
  opacity: .8;
  font-size: 1.5rem;
  margin-top: 3vh;
}

.main-container #joke-container {
  font-size: 1.2rem;
  text-align: center;
}

button {
  background-color: var(--btn-color);
  color: var(--container-color);
  height: 50px;
  width: 150px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  outline: none;
  margin-bottom: 3vh;
}

button:active {
  transform: scale(.99);
}

@media (max-width: 600px) {
  .main-container {
    height: 45vh;
    width: 65vw;
  }
}

@media (min-width: 1000px) {
  .main-container {
    width: 65vw;
  }
}
