@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
}

#background-image {
  position: absolute;
  background: url("https://tinypng.com/images/social/website.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: blur(50px);
}

#loading-text {
  position: absolute;
  top: 60vh;
  left: 47vw;
  color: #ffaa00;
  font-weight: 900;
  font-size: 60px;
  opacity: 1;
}
